# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
**/venv
**/env
**/test
**/test.js
**/test.html
**/test.py


# dependencies
**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build


