.location {
  padding-top: 96px;
  padding-bottom: 80px;
  $b: &;
  &__filter {
    width: calc(33.33333% - 16px);
    font-size: 24px;
    @include e(select, $b) {
      width: calc(100% - 112px);
      color: #495057;
      opacity: 0.75;
      font-size: 18px;
    }
  }

  &__title {
    position: relative;
    text-indent: 20px;
    @at-root &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 8px;
      height: 72px;
      background-color: #9f1213;
    }
  }
  .card .card-body:not(:first-of-type){
    border-top: 1px solid #00000020;
  }
  &__info {
    span:nth-child(2n) {
      width: calc(100% - 32px);
      display: inline-block;
      vertical-align: top;
      margin-left: 8px;
    }
  }

  &__mapImg {
    height: 100%;
    object-fit: cover;
  }
}

.qa__title {
  font-size: 24px;
  font-weight: bold;
}
.quesion {
  h3{
    font-size: 20px;
    font-weight: bold;
  }
}