.header {
  .nav {
    padding: 16px 0;
    &__link {
      width: 80px;
      display: flex;
      overflow: hidden;
    }
    @at-root .sitemap {
      padding: 9px 0;
      font-size: 20px;
      &__link {
        color: #fff;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  .banner {
    background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true") center / cover;
    display: block;
    padding: 296px 0;
    color: #650300;
    &__title2 {
      font-size: 36px;
    }
    &__title3 {
      font-size: 64px;
      font-weight: bold;
      margin-bottom: 4px;
    }
    &__btn {
      font-size: 20px;
    }
  }
}
