@import "vendors/bootstrap/bootstrap";

@import "helpers/variables";
@import "helpers/mixins";

@import "components/title";
@import "components/section";


@import "base/reset";
@import "base/base";

@import "layout/header";
@import "layout/footer";

@import "pages/home";
@import "main";
@import "mediaQuery";